<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundHighlightCollection</key>
	<date>2023-10-05T21:50:32Z</date>
	<key>BackgroundHighlightEnrichment</key>
	<date>2023-10-05T21:50:32Z</date>
	<key>BackgroundJobAssetRevGeocode</key>
	<date>2023-10-05T23:51:13Z</date>
	<key>BackgroundJobSearch</key>
	<date>2023-10-05T21:50:32Z</date>
	<key>BackgroundPeopleSuggestion</key>
	<date>2023-10-05T11:12:58Z</date>
	<key>BackgroundUserBehaviorProcessor</key>
	<date>2023-10-05T11:12:58Z</date>
	<key>PGGraphDataModelEnrichmentContextBackgroundEnrichment</key>
	<date>2023-10-05T23:51:13Z</date>
	<key>PGGraphDataModelEnrichmentContextWeeklyEnrichment</key>
	<date>2023-10-01T20:17:41Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphConsistencyUpdateJobDateKey</key>
	<date>2023-10-05T23:51:14Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphRebuildJobDate</key>
	<date>2023-10-05T11:12:58Z</date>
	<key>PhotoAnalysisGraphLastBackgroundMemoryGenerationJobDate</key>
	<date>2023-10-05T21:50:32Z</date>
	<key>PhotoAnalysisPresentationLastCacheCPAnalyticsPropertiesJobDate</key>
	<date>2023-10-05T11:13:01Z</date>
	<key>PhotoAnalysisPresentationLastMediaSampleReportingJobDate</key>
	<date>2023-10-05T11:13:01Z</date>
	<key>SiriPortraitDonation</key>
	<date>2023-10-05T11:12:58Z</date>
</dict>
</plist>
